<div id="page_content">

    <div class="right_section">
        <div class="common_content">
            <h2>Circus Management</h2>
            <hr>
            <form accept-charset="UTF-8" action="/login" autocomplete="off" method="POST"
                target="_blank">
                <fieldset>
                    <legend>Login:</legend> 
                        <label for="username">Username : </label> <input name="username"type="text" value="" /> <br />
                        <label for="password">Password : </label><input name="password" type="text" value="" /> <br />
                        <input type="submit" value="Login" onclick="loading();">
                </fieldset>
            </form>
